/* Welcome to the CSS File for Lab 3 */

.body{
    background-color: white;
    --laker_purple: #552583;
    --laker_yellow: rgb(253, 185, 39);
}

.github_folder{
    color: color(from green srgb r g b / 0.5);
  margin: 2% 0% 2% 0%
}

.Main_headers{
    color: var(--laker_purple, #552583);
}

h2{
    color: rgb(253, 185, 39);
}

h3{
    color: color-mix(in srgb, #040267 80%, white);
}

footer{
    color: hsl(0°, 0%, 83%);
  margin: auto;
  padding: 2% 2% 2% 2%;
}

section{
    border-style: dotted;
    border-color: var(--laker_yellow,  rgb(253, 185, 39));
    border-width: 4px;
    border-radius: 2%;
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 2%;
  padding-left: 2%;
}
