/* Welcome to the CSS File for Lab 3 */

* {
    font-family: "Trirong", serif;
}

.body{
  background-color: white;
  --laker_purple: #552583;
  --laker_yellow: rgb(253, 185, 39);
}

.github_folder{
  color: color(green srgb r g b / 0.5);
  margin: auto;
position: sticky;
top: 0px;
display: inline-block;
min-width: 60%;
}

.Main_headers{
  color: var(--laker_purple, #552583);
}

h2{
  color: rgb(253, 185, 39);
}

h3{
  color: color-mix(srgb, #040267 80%, white);
}

footer{
  color: hsl(0, 1%, 83%);
border-style: dotted;
  border-color: var(--laker_yellow,  rgb(253, 185, 39));
  border-width: 4px;
  border-radius: 2%;
 margin: 2% 2% 2% 2%;
padding: 2% 2% 2% 2%;
display: block;
}

section{
position: static;
  border-style: dotted;
  border-color: var(--laker_yellow,  rgb(253, 185, 39));
  border-width: 4px;
  border-radius: 2%;
margin-top: 2%;
margin-right: 2%;
margin-left: 2%;
margin-bottom: 2%;
padding-top: 2%;
padding-bottom: 2%;
padding-right: 2%;
padding-left: 2%;
  color: brown;
}

header{
    color: color-mix(srgb, #040267 80%, white);
  text-decoration: yellow wavy underline;
}

span{
color: red;
text-align: start;
}

#Attendance ul, #Brain{
  display: grid;
margin: auto;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: auto; 
  gap: 7%; 
  padding-bottom: 2%;
}
ol{
  display: grid;
margin: auto;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: auto; 
  gap: 7%; 
}

img{
max-width: 80%;
}

video{
max-width: 50%;
max-height: 50%;
}

button:hover{
color: #552583;

}

input:active{
color: #552583;
}

@media screen{
  body {
      font-size: 14px;
  }
}

#Agenda > div {
    background-color: var(--laker_yellow,rgba(253, 185, 39, 0.25));
}

#Headers{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; 
}

[href="https://www.youtube.com"], [href="https://github.com/KaustubhPaliwal/Lab2_Starter/tree/main"], [href="https://www.instagram.com/lakers/?hl=en"]{
  color: black;
}

#Attendance ~ hr {
border-color: yellow;
}

h2.Subheader_1 {
  font-style: italic;
}

footer:has(p) {
  background-color: var(--laker_yellow,rgba(253, 185, 39, 0.25));
}

#New_Business #Brain {
  background-color: var(--laker_yellow,rgba(253, 185, 39, 0.25));
}

#New_Business + section {
  margin-top: 0;
}
